body{
  margin: 0;
  padding: 0;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/design/images/background.png");
}

h1.mainTitle{
  padding-top: 10%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 70px;
  position: relative;
}

/*DIV Articles BOX*/
.articlesBox{
   padding-top: 0%; 
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   height: 100vh;
}

/*----Navigation bar (Art Blog, News, Blog, Whishlist, Shop, About)----*/
#navBar{
   height: 58.4px;
}

ul {
  list-style-type: none;
   padding: 0;
   overflow: hidden;
}

li {
  float: left;
}

/*IDS of li tag*/
#ArtBlog a{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

#News a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Blog a{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

#Blog.active a{
   background: white;
   color: black;
}

#Wishlist a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}


#Shop a{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

#Instagram {
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

/*----End of Navigation bar (Art Blog, News, Blog, Whishlist, Shop, About)----*/

.blogArticles{
   display: flex;
   overflow: hidden;
   background: white;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   height: 100%;
}

/*----------------------Blog sections----------------------*/
/*recent posts box*/
.recentPosts{
  position: absolute;
  left: 10%;
  width: 20%;
  height: 50%;
  padding-top: 10%;
  padding-left: 5%;
}

ul.recentPostsLinks{
  background-color: grey;
  height: 100%;
}

li.link{
  display: list-item;
}

/*Current BlogPost*/
.currentBlogPost{
  position: absolute;
  right: 0%;
  width: 50%;
  padding-right: 10%;
}

#currentBlogPostDate{
  text-align: right;
}

.currentBlogPostContent{
  width: 50%;
}

#blogPostText{
  text-align: justify;
}

/*END of blog sections*/
