body{
   background-image: url('../design/images/background.png');
   background: black;
   background-repeat: no-repeat;
   background-size: cover;
   
}

h1{
   color: blue;
}

#navBar{
   height: 58.4px;
}

h1#principalTitle.pab{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 70px;
   text-align: center;
   position: relative;
   animation-iteration-count: 1;
   animation-name: titleAnimation; 
   animation-timing-function: ease;
   animation-duration: 3s;
}

@keyframes titleAnimation {
  from {bottom: -400px;}
  to {bottom: -150px;}
}

#wrapper{
   padding-top: 10%; 
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   height: 100vh;
}

ul {
  list-style-type: none;
   padding: 0;
   overflow: hidden;
}

li {
  float: left;
}

#ArtBlog a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#News a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Blog a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Wishlist a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Instagram {
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#posts{
   background: white;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   height: 100px;
}

.pab {
  animation: 2s anim-lineUp ease-out infinite;
}




























