/*CSS Cascading Styles Sheet*/

body{
   background: black;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("/design/images/background.png");
}

/*--------------------------DIV bodyDIVContainer--------------------------*/
#bodyDIVContainer{
   
}
/*--------------------------End of DIV bodyDIVContainer--------------------------*/


/*--------------------------Text--------------------------*/

h1{
   color: blue;
}

h1#principalTitle.pab{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 70px;
   text-align: center;
   position: relative;
   animation-iteration-count: 1;
   animation-name: titleAnimation; 
   animation-timing-function: ease;
   animation-duration: 3s;
}

/*--------------------------End of text part--------------------------*/

/*--------------------------Principal title text animation--------------------------*/

@keyframes titleAnimation {
  from {bottom: -100px;}
  to {bottom: -0px;}
}

.pab {
  animation: 2s anim-lineUp ease-out infinite;
}

/*--------------------------End of Principal title text--------------------------*/


/*--------------------------DIV Principal title text--------------------------*/
#welcome{
   padding-top: 10%;
}
/*--------------------------End of DIV Principal title text--------------------------*/


/*--------------------------Box of content--------------------------*/

/*DIV of the box of content*/
#wrapper{
   padding-top: 0%; 
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   height: 100vh;
   opacity: 0;
}

/*----Navigation bar (Art Blog, News, Blog, Whishlist, Shop, About)----*/
#navBar{
   height: 58.4px;
}

ul {
  list-style-type: none;
   padding: 0;
   overflow: hidden;
}

li {
  float: left;
}

/*IDS of li tag*/
#ArtBlog a{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

#ArtBlog.active a{
   background: white;
   color: black;
}

#News a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Blog a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Wishlist a{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Instagram {
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

/*----End of Navigation bar (Art Blog, News, Blog, Whishlist, Shop, About)----*/


/*----DIV inside Wrapper DIV that contains all the art blog posts----*/

#posts{
   background: white;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   height: 100px;
}

article {
   overflow: hidden;
}

/*----End of DIV inside Wrapper DIV that contains all the art blog posts----*/














































