body{
   background: black; 
}

#principalTitle{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 70px;
   text-align: center;
}

#wrapper{
   padding-top: 10%; 
   margin-left: auto;
   margin-right: auto;
   width: 75vw;
   height: 100vh;
}

#nav{
   background: white;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

#ArtBlog {
  display: block;
  padding: 20px;
  background-color: white;
}

#News {
  display: block;
  padding: 20px;
  background-color: white;
}

#Blog {
  display: block;
  padding: 20px;
  background-color: white;
}

#Wishlist {
  display: block;
  padding: 20px;
  background-color: white;
}

#Instagram {
  display: block;
  padding: 80px;
  background-color: white;
}

#posts{
   background: white;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}








