#body{
    max-width: 800px;
    background-image: url("../../design/images/blackbackground.png");
}

#wrapper{
    max-width: 500px;
    background-image: url("../../design/images/background.png");
}
