body{
   width: 100vw;
   height: 100vh;
   background-image: url("../../design/images/blackbackground.png");
}

#wrapper{
   width: 100vw;
   height: 100vh;
   background-image: url("../../design/images/background.png");
}
