body{
   margin: 0;
   padding: 0;
   background: black;
   background-repeat: no-repeat;
   background-size: cover;
}

/*Slides*/
.slidesBox{
   max-width: 1000px;
   position: relative;
   background-color: white;
}
