body{
   margin: 0;
   padding: 0;
   background: black;
   background-repeat: no-repeat;
   background-size: cover;
}

/*Slides*/
.slidesBox{
   max-width: 100%;
   position: relative;
   background-color: white;
}

.slideImage{
   max-width: 100%;
   max-height: 100%;
}

/* End of slides*/

/*----Navigation bar (Art Blog, News, Blog, Whishlist, Shop, About)----*/
#navBar{
   height: 58.4px;
}

ul {
  list-style-type: none;
   padding: 0;
   overflow: hidden;
}

li {
  float: left;
}

/*IDS of li tag*/
#Productos{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

#Productos.active{
   background: white;
   color: black;
}

#CursosEnLinea{
  display: block;
  padding: 20px;
  text-decoration: none;
   color: white;
}

#Blog a{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

#Instagram {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

/*----End of Navigation bar (Art Blog, News, Blog, Whishlist, Shop, About)----*/
